<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Daily UI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app/app.css">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,700|Raleway:300,400,700|Oxygen:300,400,700|Hind" rel="stylesheet">


  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
  <div class="header">
    Daily UI
  </div>
  <div ng-controller="ImagesController">
    <div class="categories">
      <span class="category-button selected" ng-click="sortBy('num', true)">Latest</span>
      <span class="category-button" ng-click="sortBy('num', false)">Chronological</span>
    </div>
    <div id="full-overlay">
    </div>
    <div id="full-img">
    </div>
    <div class="square-grid">
      <div class="square-grid__cell square-grid__cell--7" ng-repeat="item in items | orderBy:propertyName:reverse">
        <div class="square-grid__content">
          <div class="overlay"></div>
          <div class="info">
            <div class="number" id={{item.num}}>{{item.num}} // {{item.name}}</div>
          </div>
          <img class="grid-img" ng-src={{item.img}}>
        </div>
      </div>
    </div>
  </div>

  <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyA5n2E77ZECpzsz1GtZ5W958jubRla7TRI",
      authDomain: "daily-ui.firebaseapp.com",
      databaseURL: "https://daily-ui.firebaseio.com",
      storageBucket: "daily-ui.appspot.com",
    };
    firebase.initializeApp(config);
  </script>

  <script src="app/bower_components/angular/angular.js"></script>
  <script src="app/bower_components/angular-route/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="app/app.js"></script>
  <script src="app/script.js"></script>
  <script src="app/view1/view1.js"></script>
  <script src="app/view2/view2.js"></script>
  <script src="app/components/version/version.js"></script>
  <script src="app/components/version/version-directive.js"></script>
  <script src="app/components/version/interpolate-filter.js"></script>
</body>
</html>
