/* app css stylesheet */
body {
  font-family: 'Roboto';
  font-weight: 300;
}


.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/******** ********/

.header {
  font-size: 2em;
  text-align: center;
  margin-top: 25px;
  font-family: 'Raleway';
  font-weight: ;
  color: #494958;
}

.categories {
  text-align: center;
  margin-top: 25px;
  font-size: 0.8em;
}

.selected {
  font-weight: 700;
  color: #1271b9;
}

.category-button {
  background: white;
  border: none;
  border-bottom: solid 1px lightgray;
  margin: 0px 15px;
  padding: 5px 15px;
  cursor: pointer;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.square-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 25px;
}

.square-grid__cell {
  overflow: hidden;
  position: relative;
}

.square-grid__content {
  left: 0;
  position: absolute;
  top: 0;
  cursor: pointer;
}

.square-grid__cell:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.square-grid__cell--7 {
  flex-basis: 20%;
}

@media (max-width: 1100px) {
  .square-grid__cell--7 {
    flex-basis: 25%;
  }
}

@media (max-width: 900px) {
  .square-grid__cell--7 {
    flex-basis: 33.333333%;
  }
}

@media (max-width: 650px) {
  .square-grid__cell--7 {
    flex-basis: 50%;
  }
}

@media (max-width: 400px) {
  .square-grid__cell--7 {
    flex-basis: 100%;
  }
}

.grid-img {
  object-fit: cover;
}

.overlay {
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.25;
  position: absolute;
  bottom: 0;
}

.info {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: white;
  opacity: 0;
  margin-bottom: -50px;
  color: #494958;
}

.number {
  display: block;
  padding: 10px;
}

.square-grid__content:hover .info {
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

#full-overlay {
  position: fixed;
  background: #000000;
  width: 100%;
  height: 100%;
  z-index: -100;
  top: 0;
  opacity: 0;
  transition: 0.5s;
}

#full-img {
  position: fixed;
  background: no-repeat center center;
  background-image: url("../img/021.png");
  z-index: -100;
  background-size: auto 90%, contain;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
}




@media (max-width: 900px) {
  #full-img {
    background-size: auto 80%, contain;
  }
}

